{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="static/jsapp/js/style.js"></script>
</head>
<body id="main">
 <h1>Pakistan zindabad</h1>
<script>
    var x='Salman Ahmed';
    var z= ['a', 'b', 'c'];
    var w={a:"first",b:"second"}
    document.write(x,"<br>");
    {#document.write(w,"<br>");#}
    document.write(typeof w);
    var t=66;
    console.time('test');
    console.log(s);

    console.warn('Somthin went viral');
    console.warn('Somthin went viral');
    console.warn('Somthin went viral');console.warn('Somthin went viral');
    console.warn('Somthin went viral');


    console.timeEnd('test');


</script>

</body>
</html>