{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="static/jsapp/js/style.js"></script>
</head>
<body>
<h1>I am here</h1>


<script>
    {#var ary = new Array(5)#}
    {#for(var i=0; i<5; i++){#}
    {#    ary[i]=prompt("Enter value"+(i+1));#}
    {#}#}
    {#for(var i=0;i<5;i++){#}
    {#    document.write("<br>"+ ary[i]);#}
    {#}#}










  {#  document.write("<ul>")#}
  {#  var sum=0;#}
  {#  var a=[23,300,3000];#}
  {#  for(var ar=0; ar<=2; ar++){#}
  {#      document.write("<li>" + a[ar] + "</li>" );#}
  {#      sum=sum+a[ar];#}
  {#  }#}
  {#document.write("</ul>")#}
  {#  document.write("total sum:" +sum);#}
</script>
</body>
</html>